/* Modal Dialog
---------------------------------------------*/

.modal-dialog {
    padding: 20px;
}

.modal-dialog-button-box {
    spacing: 20px;
    padding-top: 35px;
}

.modal-dialog-button {
    margin-left: 10px;
    margin-right: 10px;
    padding: .45em 1em;
    border-radius: 3px;
    font-weight: bold;
}

/* Run Dialog
---------------------------------------------*/

.run-dialog-label {
    padding: 0 1px 5px;
}

.run-dialog-error-box {
    padding-top: 15px;
    spacing: 5px;
}

.run-dialog-entry {
    font-weight: bold;
    width: 23em;
}

/* Displayed when shell dialog is open */
.lightbox {
    background: transparent;
}

/* Displayed when taking screenshot */
.flashspot {
    background-color: white;
}

/* End Session Dialog
---------------------------------------------*/

.end-session-dialog {
    spacing: 20px;
}

.end-session-dialog-subject {
    padding-top: 7px;
    padding-bottom: 20px;
    font-weight: bold;
}

.end-session-dialog-description {
    width: 28em;
}

.end-session-dialog-subject:ltr,
.end-session-dialog-description:ltr {
    padding-left: 17px;
}

.end-session-dialog-subject:rtl,
.end-session-dialog-description:rtl {
    padding-right: 17px;
}

.end-session-dialog-logout-icon {
    border-radius: 5px;
    width: 64px;
    height: 64px;
    box-shadow: 0 0 5px black;
}

.end-session-dialog-shutdown-icon {
    color: #ccc;
    width: 32px;
    height: 32px;
    icon-shadow: 0 0 3px black;
}

.end-session-dialog-app-list {
    max-height: 200px;
    padding-top: 40px;
}

.end-session-dialog-app-list:ltr {
    padding-left: 49px;
    padding-right: 32px;
}

.end-session-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.end-session-dialog-app-list-item {
    color: #ccc;
}

.end-session-dialog-app-list-item:hover {
    color: #fff;
}

.end-session-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.end-session-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.end-session-dialog-app-list-item-icon:ltr {
    padding-right: 10px;
}

.end-session-dialog-app-list-item-icon:rtl {
    padding-left: 10px;
}

.end-session-dialog-app-list-item-name {
    text-decoration: underline;
    padding-bottom: 2px;
}

.end-session-dialog-app-list-item-description {
    color: #999;
}

/* Shell Mount Operation Dialog
---------------------------------------------*/

.shell-mount-operation-icon {
    icon-size: 48px;
}

.mount-password-reask {
    color: red;
/*    font-weight: bold;*/
}

.show-processes-dialog,
.mount-question-dialog {
    spacing: 20px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
    padding-top: 7px;
    padding-bottom: 20px;
    font-weight: bold;
}

.mount-question-dialog-subject {
    max-width: 500px;
}

.show-processes-dialog-subject:ltr,
.mount-question-dialog-subject:ltr {
    padding-left: 17px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
    padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
    width: 28em;
}

.show-processes-dialog-description:ltr,
.mount-question-dialog-description:ltr {
    padding-left: 17px;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
    padding-right: 17px;
}

.show-processes-dialog-app-list {
    max-height: 200px;
    padding-top: 40px;
}

.show-processes-dialog-app-list:ltr {
    padding-left: 49px;
    padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.show-processes-dialog-app-list-item {
    color: #ccc;
}

.show-processes-dialog-app-list-item:hover {
    color: #fff;
}

.show-processes-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
    text-decoration: underline;
    padding-bottom: 2px;
}

/* Authentication Dialog
---------------------------------------------*/

.prompt-dialog {
    width: 500px;
}

.prompt-dialog-main-layout {
    padding-top: 5px;
}

.prompt-dialog-main-layout,
.prompt-dialog-message-layout {
    spacing: 20px;
}

.prompt-dialog-headline {
    font-weight: bold;
}

.prompt-dialog-password-box {
    spacing: 1em;
}

.prompt-dialog-error-label {
    color: red;
/*    font-size: 14pt;*/
}

.prompt-dialog-error-label,
.prompt-dialog-info-label {
    padding-bottom: 20px;
}

.hidden,
.prompt-dialog-null-label {
    color: transparent;
}

/* Polkit Dialog
---------------------------------------------*/

.polkit-dialog-user-layout {
    spacing: 10px;
}

.polkit-dialog-user-layout:ltr {
    padding-left: 10px;
}

.polkit-dialog-user-layout:rtl {
    padding-right: 10px;
}

.polkit-dialog-user-root-label {
    font-size: 1.1em;
    font-weight: bold;
    color: red;
}

.polkit-dialog-user-icon {
    border-radius: 3px;
    width: 64px;
    height: 64px;
    box-shadow: 0 0 5px black;
}

/* Network Agent Dialog
---------------------------------------------*/

.network-dialog-secret-table {
    spacing-rows: 15px;
    spacing-columns: 1em;
}

.keyring-dialog-control-table {
    spacing-rows: 15px;
    spacing-columns: 1em;
}

/* Looking Glass Dialog
---------------------------------------------*/

#LookingGlassDialog {
    spacing: 20px;
    padding: 20px;
}

#LookingGlassDialog .notebook-tab {
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: .45em .8em;
    font-family: roboto, sans-serif;
    font-weight: bold;
    color: #ccc;
}

#LookingGlassDialog .notebook-tab:hover,
#LookingGlassDialog .notebook-tab:selected {
    color: white;
}

#LookingGlassDialog .notebook-tab:selected {
    background: #777 url("img/lock-screen-bg.png");
    background-repeat: repeat;
    box-shadow: 0 0 5px black;
}

#LookingGlassDialog .lg-inspector-title {
    font-weight: bold;
    padding-bottom: 8px;
}

.lg-completions-text {
    font-size: .9em;
    font-style: italic;
}

.lg-obj-inspector-title {
    spacing: 4px;
    font-weight: bold;
}

.lg-obj-inspector-button {
    color: #ccc;
    text-decoration: underline;
}

.lg-obj-inspector-button:hover {
    color: white;
}

#LookingGlassDialog StBoxLayout#EvalBox,
#LookingGlassDialog StBoxLayout#ResultsArea {
    spacing: 4px;
}

.lg-extension-list {
    spacing: 6px;
}

.lg-extension {
    padding-bottom: 1em;
}

.lg-extension-name {
    font-weight: bold;
}

.lg-extension-meta {
    spacing: 6px;
}

#LookingGlassPropertyInspector {
    background: #666 url("img/lock-screen-bg.png");
    background-repeat: repeat;
    box-shadow: 0px 0px 10px black;
    border: 15px solid transparent;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    padding-top: 4px;
}

#LookingGlassPropertyInspector:ltr {
    padding-right: 4px;
}

#LookingGlassPropertyInspector:rtl {
    padding-left: 4px;
}

/* Login Dialog
---------------------------------------------*/

.login-dialog {
    font-family: roboto, cantarell !important;
    max-height: 700px;
    width: 400px;
    background: #425265 url("img/lock-screen-bg.png") !important;
    background-repeat: repeat;
    box-shadow: 0 0 5px black !important;
    border: 1px solid transparent !important;
    border-radius: 5px !important;
}

.login-dialog-banner {
    width: 0;
    height: 0;
}

.login-dialog-title {
    font-size: 1.25em;
    font-weight: bold;
    color: #ccc;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 6px;
}

.login-dialog-not-listed-button {
    width: 400px;
    color: #ccc;
    text-align: center;
    padding-top: 10px;
}

.login-dialog-not-listed-button:focus,
.login-dialog-not-listed-button:hover {
    color: white;
}

.login-dialog-message-warning {
    padding-top: 5px;
    text-shadow: 0 0 3px red;
    font-weight: bold;
}

/* User list view and items */

.login-dialog-user-list-view {
    -st-vfade-offset: 1em;
}

.login-dialog-user-list {
    font-family: roboto, cantarell;
    spacing: 5px;
}

.login-dialog-user-list-item,
.unlock-dialog-user-name-container,
.login-dialog-user-list:expanded .login-dialog-user-list-item:hover,
.login-dialog-user-list:expanded .login-dialog-user-list-item:focus {
    padding: 5px;
}

.login-dialog-user-list:expanded .login-dialog-user-list-item {
    background-gradient-start: rgba(255,255,255,0);
    background-gradient-end: rgba(255,255,255,0);
    box-shadow: inset 0 0 2px transparent;
    border: 1px solid transparent;
}

.login-dialog-user-list-item-icon {
    border-radius: 3px;
    width: 64px;
    height: 64px;
    box-shadow: 0 0 5px black;
}

.login-dialog-user-list-item-name,
.login-dialog-username {
    font-size: 14pt;
    font-weight: bold;
    font-family: roboto, cantarell;
    text-shadow: #000 0 0 2px;
    padding: 0 .5em;
}

.login-dialog-user-list-item .login-dialog-timed-login-indicator {
    background-color: transparent;
    height: 2px;
}

/* Prompt */

.login-dialog-prompt-layout {
    padding-top: 10px;
    spacing: 5px;
}

.login-dialog-prompt-label {
    color: #ccc;
    font-family: roboto, cantarell !important;
}

/* Session list */

.login-dialog-session-list {
    padding: 0 2px;
}

.login-dialog-session-list-button {
    color: #ccc;
}

.login-dialog-session-list-button:focus,
.login-dialog-session-list-button:active,
.login-dialog-session-list-button:hover {
    color: white;
}

.login-dialog-session-list-scroll-view {
    background: #777 url("img/lock-screen-bg.png");
    background-repeat: repeat;
    box-shadow: 0 0 5px black;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: .5em;
}

.login-dialog-session-list-triangle {
    padding-right: .5em;
}

.login-dialog-session-list-item-box {
    spacing: .5em;
}

.login-dialog-session-list-item-dot {
    width: .75em;
    height: .75em;
}

