/* Message Tray
---------------------------------------------*/

#message-tray {
    height: 64px;
    background: #555 url("img/message-tray-bg.png");
    background-position: 0 0;
    background-repeat: repeat;
    transition-duration: 1000; /* high value to prevent showing up in overview */
}

#message-tray:keyboard {
    background: #555 url("img/lock-screen-bg.png");
    box-shadow: 0 0 5px black;
    transition-duration: 0;
}

#message-tray:overview {
    transition-duration: 0;
    background: none;
}

/* Notifications */

.notification {
    background: #425265 url("img/lock-screen-bg.png");
    background-repeat: repeat;
    box-shadow: 0 0 5px black;
    border-radius: 5px 5px 0 0;
    padding: 10px 10px 8px 10px;
    spacing-rows: 10px;
    spacing-columns: 10px;
}

.notification,
#notification-container {
    width: 34em;
}

.notification.multi-line-notification {
    padding-bottom: 10px;
}

.notification-unexpanded {
    min-height: 36px;
    height: 36px;
}

.notification-with-image {
    min-height: 159px;
}

.notification-scrollview {
    max-height: 10em;
    -st-vfade-offset: 24px;
}

.notification-scrollview:ltr > StScrollBar {
    padding-left: 10px;
}

.notification-scrollview:rtl > StScrollBar {
    padding-right: 10px;
}

.notification-body {
    spacing: 5px;
}

.notification-actions {
    spacing: 5px;
}

.notification-button {
    padding: .45em .8em;
    border-radius: 3px;
    font-weight: bold;
}

.notification-icon-button {
    padding: .45em;
    border-radius: 3px;
}

.notification-icon-button > StIcon {
    icon-size: 16px;
}

.secondary-icon {
    icon-size: 1.09em;
}

/* Hotplug */

.hotplug-transient-box {
    spacing: 5px;
}

.hotplug-notification-item {
    padding: .3em;
    border-radius: 3px;
    font-weight: bold;
}

.hotplug-notification-item-icon {
    icon-size: 24px;
    padding-right: .3em;
}

.hotplug-resident-box {
    spacing: 5px;
}

.hotplug-resident-mount {
    color: #ccc;
}

.hotplug-resident-mount:hover {
    color: #fff;
    margin-right: 10px;
    text-shadow: 0 0 5px #ccc;
}

.hotplug-resident-mount-label {
    padding: 0 10px;
}

.hotplug-resident-mount-icon {
    icon-size: 24px;
}

.hotplug-resident-eject-icon {
    icon-size: 16px;
}

.hotplug-resident-eject-button {
    padding: .45em;
    border-radius: 3px;
/*    font-weight: bold;*/
}

/* Chat */

.chat-log-message {
    color: #888;
}

.chat-group-sent, 
.chat-group-received, 
.chat-group-meta {
    padding: 4px 0;
}

.chat-received {
    border: 2px solid black;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
    border-radius: 10px;
    padding-top: .35em;
    padding-bottom: .35em;
    padding-right: 2em;
    padding-left: 10px;
    text-align: left;
}

.chat-sent {
    border: 2px solid white;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    padding-top: .35em;
    padding-bottom: .35em;
    padding-left: 2em;
    padding-right: 10px;
    text-align: right;
    background-color: transparent;
    border-radius: 10px;
    font-style: italic;
}

.chat-meta-message {
    color: #ccc;
}

.subscription-message {
    font-style: italic;
}

/* Summary */

#summary-mode {
    padding: 0 3px;
    height: 56px;
    spacing: 6px;
}

.summary-boxpointer {
    -boxpointer-gap: 6px;
}

.summary-boxpointer .notification {
    background-color: transparent;
    background-image: none;
}

.summary-boxpointer #summary-right-click-menu {
    background: #425265 url("img/lock-screen-bg.png");
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    padding: .5em 1px;
    min-width: 200px;
}

.summary-notification-stack-scrollview {
    background: #425265 url("img/lock-screen-bg.png");
    background-repeat: repeat;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    max-height: 18em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.summary-notification-stack-scrollview:ltr {
    padding-right: 10px;
}

.summary-notification-stack-scrollview:rtl {
    padding-left: 10px;
}

.summary-source-button {
    border: 1px solid transparent;
    border-radius: 5px;
}

.summary-source-button:hover,
.summary-source-button:focus {
    background: #777 url("img/lock-screen-bg.png");
    background-repeat: repeat;
    box-shadow: 0 0 5px black;
}

.summary-source-button:selected {
    background: #898989 url("img/lock-screen-bg.png");
    background-repeat: repeat;
    box-shadow: 0 0 5px black;
}

.summary-source {
    padding-left: 3px;
    padding-right: 3px;
}

.summary-source-counter {
    background-image: url("img/summary-counter.svg");
    background-size: 2.5em;
    font-size: 10pt;
    font-weight: bold;
    height: 2.5em;
    width: 2.5em;
    -shell-counter-overlap-x: 4px;
    -shell-counter-overlap-y: 4px;
}

