/* Panel
---------------------------------------------*/

#panel {
    background: #555 url("img/olhg.png");
    background-position: 0 0;
    background-size: auto;
    background-repeat: repeat;
    box-shadow: 0 0 10px black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: bold;
    height: 1.86em;
    transition-duration: 200;
}

#panel.in-overview{
    background: transparent;
    box-shadow: none;
    transition-duration: 200;
}

#panelLeft, 
#panelCenter,
#panelRight {
    spacing: 0;
}

/* Panel buttons */

#appMenu,
#panelUserMenu,
.panel-status-button-box {
    spacing: 4px;
}

.panel-button #appMenu {
    text-shadow: black 0 0 2px;
}

.panel-button:hover #appMenu,
.panel-button:focus #appMenu,
.panel-button:active #appMenu {
    text-shadow: 0 0 3px #ccc;
}

.label-shadow {
    color: transparent;
}

.panel-button #appMenuIcon,
.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
    app-icon-bottom-clip: 1px;
    width: 0;
    height: 0;
}

.panel-button {
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    font-weight: bold;
    text-shadow: black 0 0 2px;
}

.panel-button:focus,
.panel-button:hover,
.panel-button:active,
.panel-button:focus .system-status-icon,
.panel-button:focus .popup-menu-icon,
.panel-button:hover .system-status-icon,
.panel-button:hover .popup-menu-icon,
.panel-button:active .system-status-icon,
.panel-button:active .popup-menu-icon{
    text-shadow: 0 0 3px #ccc;
    icon-shadow: 0 0 3px #ccc;
}

.panel-button .system-status-icon,
.panel-button .popup-menu-icon {
    icon-shadow: rgba(0,0,0,0.6) 0 0 2px;
    icon-size: 1.09em;
}

.panel-menu {
    -boxpointer-gap: 4px;
}

