/* Screen Shield
---------------------------------------------*/

.screen-shield-background {
/*    background: #666 !important;*/
}

#lockDialogGroup {
    background: url("img/hgak.png");
    background-size: contain;
}

.screen-shield-arrows {
    padding-bottom: 3em;
}

.screen-shield-arrows Gjs_Arrow {
    color: rgba(255,255,255,0.8);
    width: 80px;
    height: 48px;
    -arrow-thickness: 12px;
    -arrow-shadow: 0 0 5px black;
}

.screen-shield-contents-box {
    spacing: 48px;
}

.screen-shield-clock {
    color: rgba(255,255,255,0.8);
    text-shadow: 0 0 5px black;
    font-weight: bold;
    text-align: center;
    padding: 20px 20px 25px;
    font-family: cantarell;
}

.screen-shield-clock-time {
    font-size: 72pt;
}

.screen-shield-clock-date {
    font-size: 28pt;
}

#screenShieldNotifications {
    border-radius: 8px;
    background-color: #425265;
    background-image: url("img/lock-screen-bg.png") !important;
    background-repeat: repeat;
    max-height: 500px;
    padding: 18px 0;
    box-shadow: 0 0 5px black;
}

.screen-shield-notifications-box {
    background: transparent;
    spacing: 18px;
}

.screen-shield-notification-source {
    padding: 0 24px;
    spacing: 5px;
}

.screen-shield-notification-label {
    font-size: 1.2em;
    font-weight: bold;
    color: #babdb6;
}

.screen-shield-notifications-box .notification,
.screen-shield-notifications-box .summary-notification-stack-scrollview {
    background: none !important;
    border: none;
    box-shadow: none;
    padding: 0 10px 0 10px;
}
