/* App Switcher
---------------------------------------------*/

#altTabPopup {
    spacing: 8px;
}

.switcher-list {
    padding: 10px;;
}

.switcher-list-item-container {
    spacing: 8px;
}

.thumbnail-scroll-gradient-left {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51,51,51,1);
    background-gradient-end: rgba(51,51,51,0);
    border-radius: 24px;
    border-radius-topright: 0;
    border-radius-bottomright: 0;
    width: 60px;
}

.thumbnail-scroll-gradient-right {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51,51,51,0);
    background-gradient-end: rgba(51,51,51,1);
    border-radius: 24px;
    border-radius-topleft: 0;
    border-radius-bottomleft: 0;
    width: 60px;
}

.switcher-list .item-box {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.switcher-list .item-box:outlined {
    background: #777 url("img/lock-screen-bg.png");
    background-repeat: repeat;
    box-shadow: 0 0 5px black;
}

.switcher-list .item-box:selected {
    background: #898989 url("img/lock-screen-bg.png");
    background-repeat: repeat;
    box-shadow: 0 0 5px black;
}

.switcher-list .thumbnail-box {
    spacing: 6px;
}

.switcher-list .thumbnail {
    width: 256px;
}

.switcher-list .separator {
    width: 3px;
    background: #777 url("img/lock-screen-bg.png");
    background-repeat: repeat;
    box-shadow: 0 0 5px black;
}

.ripple-box {
    width: 52px;
    height: 52px;
}

.ripple-box:ltr {
    background-image: url("img/corner-ripple-ltr.png");
}

.ripple-box:rtl {
    background-image: url("img/corner-ripple-rtl.png");
}

.switcher-arrow {
    border-color: transparent;
    color: rgba(255,255,255,0.3);
}

.switcher-arrow:highlighted {
    border-color: transparent;
    color: white;
}

/* Workspace Switcher
---------------------------------------------*/

.workspace-switcher-group {
    padding: 12px;
}

.workspace-switcher-container {
    padding: 10px;
}

.workspace-switcher {
    spacing: 8px;
}

.ws-switcher-active-up {
    height: 100px;
    background: #555 url("img/auf.png");
    background-repeat: repeat;
    background-position: center;
    box-shadow: 0 0 5px black;
    border-radius: 4px;
}

.ws-switcher-active-down {
    height: 100px;
    background: #555 url("img/ab.png");
    background-repeat: repeat;
    background-position: center;
    box-shadow: 0 0 5px black;
    border-radius: 4px;
}

.ws-switcher-box {
    height: 100px;
    border-radius: 4px;
}

