/* Magnifier
---------------------------------------------*/

.magnifier-zoom-region {
    border: 1px solid rgba(255,255,255,0.1);
}

.magnifier-zoom-region.full-screen {
    border: none;
}

/* On-screen Keyboard
---------------------------------------------*/

#keyboard {
    background: #425265 url("img/lock-screen-bg.png");
    background-repeat: repeat;
    box-shadow: 0 0 5px black;
}

.keyboard-layout {
    spacing: 10px;
    padding: 10px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    min-height: 30px;
    min-width: 30px;
    background: #777 url("img/lock-screen-bg.png");
    background-repeat: repeat;
    font-size: 14pt;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: 0 0 5px black;
    color: white;
}

.keyboard-key:grayed {
   color: #808080;
   border-color: #808080;
}

.keyboard-key:checked,
.keyboard-key:hover {
    background: #898989 url("img/lock-screen-bg.png");
}

.keyboard-key:active {
    box-shadow: 0 0 10px white;
}

.keyboard-subkeys {
    color: white;
    padding: 5px;
    -arrow-border-radius: 10px;
    -arrow-background-color: #090909;
    -arrow-border-width: 2px;
    -arrow-border-color: white;
    -arrow-base: 20px;
    -arrow-rise: 10px;
    -boxpointer-gap: 5px;
}

